 .h {
    background-color: #2ec95c;
  }
  .textView{
    background-color: transparent;
  }
  .title{
    color: #DA6800 ;
    text-align: center;
  }

  .buttonDiv{
    top:34px;
    background-color: #F6A623;
  }
  .downDiv {
    background: url("../../assets/img/background.png") no-repeat center center;
    background-size: 100%;
    background-position: 100% 100%;
  }
