page-intro {
     .swiper-pagination-bullet-active {
    background: #A713E8;
  }
  .intro1{
    position: absolute;
    top: 40%;
    color: white;
    margin-left: 33%;
  }
  .intro2{
    position: absolute;
    top: 40%;
    color: white;
    margin-left: 20%;
  }
  .intro3{
    position: absolute;
    top: 40%;
    color: white;
    margin-left: 31%;
  }
}

