page-home {
   .item-card{
        padding-top: 0px;
	    padding-bottom: 0px;
	    padding-left: 0px;
	    padding-right: 0px;
	    height: 25vh;
   }
   .card-bottom-info{
    height : 6vh;
   }
   .food_details{
      background-color : #FFEECB;
   }
   .bgcolor{
      background-color : #9BE3ED;
   }
   .toolbar-background {
       background-color : #54cdde;
   }
   .text-color{
       color : #FFFFFF;
   }
   .cart-space{
     padding-right:5%;
   }
   .badge-color{
     background-color : #9BE3ED;
     color : rgba(255,255,255,30);
   }
   .img-food{
     height: 20vh;
   }
   #notification-button {            
            position: relative;
            width: 42px;
            top:1px;
            right: 1px;
            overflow: visible!important;
        }


   #notifications-badge {
            background-color : #9BE3ED;
            color : rgba(255,255,255,30);
            position: absolute;
            top: -4px;
            right: -16px;
            border-radius: 100%;
        }
    .desc{
      padding-left:11%;
    }
    .map-element{
      padding-left:3%;
    }
    .meter, .coupon{
      padding-top : 24%;
    }
    .map-img, .cart-item-bottom{
      height : 80%;
    }
    .img-dir{
      width:20%;
    }
    .send{
    position:relative;
    margin-left:44%;
    margin-top:0%;
    }
    .send-img{
     height: 7%;
    }
    .size-font{
     font-size: 105%;
    }
    .middle{
     text-align: center;
    }
    .font-style{
      font-size : 110%;
    }
}
